<article class="d-flex best-meat-container">
    <div class="d-flex flex-column justify-content-center mt-4 mt-lg-0" style="width: 70%;">
      <h2 class="best-meat pl-5 mb-3 mb-lg-5 animated forwards fadeInLeftBig delay-0s">La <span class="bold">mejor
          carne</span> de México <br class="d-md-none d-lg-block"> nunca fue tan <span class="bold">accesible</span>
      </h2>
      <div class="tips-text animated forwards fadeInLeftBig delay-1s d-none d-lg-block">
        <a href="https://www.facebook.com/carniceria.nutricarnes/" target="_blank"><img
            src="../../../assets/img/follow-tips.png" alt="follow us"></a>
      </div>
    </div>
    <div class="offers d-none d-lg-flex flex-column align-items-center" style="width: 30%;">
      <p class="text-center mb-0">Ofertas</p>
      <video [muted]="true" autoplay loop>
        <source src="../../../assets/videos/oferta/nutrimiercoles.mp4" type="video/mp4">
      </video>
    </div>
  </article>
