<article>
    <div class="offers mt-3 d-flex flex-column align-items-center">
      <p class="text-center">Ofertas</p>
      <video width="100%" height="315" autoplay loop [muted]="true"
        src="../assets/videos/oferta/nutrimiercoles.mp4"></video>
    </div>
    <div class=" p-4 text-center quality d-block d-md-none">
      <p>cortes <br class="d-none d-lg-block"> de la mas <br class="d-none d-lg-block"> alta calidad <br
          class="d-none d-lg-block"> a unos pasos <br class="d-none d-lg-block"> de tu mesa</p>
      <hr class="d-none d-lg-block">
    </div>
  </article>