<section class="d-flex">
  <section class="products-container">
    <h2 class="text-center section-title animated forwards fadeInDown delay-0s mb-3">Nuestros
      Productos</h2>
    <article class="d-flex flex-wrap justify-content-center">
      <div class="flip-card mx-4 my-4 animated forwards fadeInLeft delay-0s">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/card-res-f.png" alt="meat front">
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/img/card-res-b.png" alt="meat back">
          </div>
        </div>
      </div>
      <div class="flip-card mx-4 my-4 animated forwards fadeInRight delay-0s">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/card-cerdo-f.png" alt="meat front">
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/img/card-cerdo-b.png" alt="meat back">
          </div>
        </div>
      </div>
      <div class="flip-card mx-4 my-4 animated forwards fadeInLeft delay-0s">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/card-pollo-f.png" alt="meat front">
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/img/card-pollo-b.png" alt="meat back">
          </div>
        </div>
      </div>
      <div class="flip-card mx-4 my-4 animated forwards fadeInRight delay-0s">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/card-pescado-f.png" alt="meat front">
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/img/card-pescado-b.png" alt="meat back">
          </div>
        </div>
      </div>
      <div class="flip-card mx-4 my-4 mb-5 animated forwards fadeInUp delay-0s">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/card-pato-f.png" alt="meat front">
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/img/card-pato-b.png" alt="meat back">
          </div>
        </div>
      </div>
    </article>
  </section>
  <app-offer style="width: 20%;"></app-offer>
</section>
