<section class="mt-4 px-2">
  <carousel [noPause]="false">
    <slide>
      <img src="../../../assets/img/resMobile.png" alt="res slide" style="display: block; width: 100%;"
        class="carouselImg">
      <div class="carousel-caption">
        <h3>Res</h3>
        <p>La carne de res es una importante fuente de proteínas constructoras, imprescindibles para la formación celular en el organismo</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/img/cerdoMobile.png" alt="cerdo slide" style="display: block; width: 100%;"
        class="carouselImg">
      <div class="carousel-caption">
        <h3>Cerdo</h3>
        <p>La carne de cerdo además está muy recomendada en épocas de crecimiento, ya que es un alimento apetecible para los niños por su peculiar sabor</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/img/polloMobile.png" alt="pollo slide" style="display: block; width: 100%;"
        class="carouselImg">
      <div class="carousel-caption">
        <h3>Pollo</h3>
        <p>Si está buscando una gran fuente de proteína magra que se baja en grasa, el pollo es la respuesta.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/img/pecadoMobile.png" alt="pescado slide" style="display: block; width: 100%;"
        class="carouselImg">
      <div class="carousel-caption">
        <h3>Pescado</h3>
        <p>Su contenido en grasa no suele ser superior al 2 %. Abundante en vitamina D, tiene un alto índice de proteínas y sales minerales. Es fácil de digerir.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/img/paroMobile.png" alt="pato slide" style="display: block; width: 100%;"
        class="carouselImg">
      <div class="carousel-caption">
        <h3>Pato</h3>
        <p>Destacan las vitaminas del grupo B, como la riboflavina, tiamina, niacina y vitamina B12), y también minerales (hierro de fácil absorción, zinc y fósforo).</p>
      </div>
    </slide>
  </carousel>
</section>
