<article style="height: 90vh;" class="d-none d-lg-block">
  <div class=" p-4 text-center text-lg-left quality d-flex flex-column justify-content-center">
    <p>cortes <br class="d-none d-lg-block"> de la mas <br class="d-none d-lg-block"> alta calidad <br
        class="d-none d-lg-block"> a unos pasos <br class="d-none d-lg-block"> de tu mesa</p>
    <hr class="d-none d-lg-block">
  </div>
  <div class="offers d-none d-lg-flex flex-column align-items-center">
    <p class="text-center mb-0">Ofertas</p>
    <video [muted]="true" autoplay loop>
      <source src="../../../assets/videos/oferta/nutrimiercoles.mp4" type="video/mp4">
    </video>
  </div>
</article>
