.bold {
  font-weight: bold;
  font-size: 110%;
}

// Swiper
.swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

// Down Section

.tips-text {
  margin-left: -2em;
}

