<article class="d-flex">
  <swiper style="width: 80%;">
    <div style="width: 100%; height: 50vh;">
      <img class="swiper-img" src="../../../assets/img/slide-carne1.png" alt="carne slide 1">
    </div>
    <div style="width: 100%; height: 50vh;">
      <img class="swiper-img" src="../../../assets/img/slide-carne2.png" alt="carne slide 2">
    </div>
    <div style="width: 100%; height: 50vh;">
      <img class="swiper-img" src="../../../assets/img/slide-carne3.png" alt="carne slide 3">
    </div>
    <div style="width: 100%; height: 50vh;">
      <img class="swiper-img" src="../../../assets/img/slide-carne4.png" alt="carne slide 4">
    </div>
    <div style="width: 100%; height: 50vh;">
      <img class="swiper-img" src="../../../assets/img/slide-carne5.png" alt="carne slide 5">
    </div>
  </swiper>
  <div class=" p-4 text-center text-lg-left quality d-flex flex-column justify-content-center" style="width: 20%;">
    <swiper>
      <div>
        <p>cortes <br class="d-none d-lg-block"> de la mas <br class="d-none d-lg-block"> alta calidad <br
            class="d-none d-lg-block"> a unos pasos <br class="d-none d-lg-block"> de tu mesa</p>
      </div>
      <div>
        <p>cortes <br class="d-none d-lg-block"> de la mas <br class="d-none d-lg-block"> alta calidad <br
            class="d-none d-lg-block"> a unos pasos <br class="d-none d-lg-block"> de tu mesa</p>
      </div>
    </swiper>
  </div>
</article>
<app-offer-home></app-offer-home>
