<section class="d-lg-flex justify-content-lg-between homeSection">
  <article class="d-lg-flex flex-lg-column justify-content-lg-center">
     <h2 class="text-center px-4 my-4">La mejor carne de México nunca fue tan accesible</h2>
     <div class="p-2 mx-2 my-3 text-center tips">
        <p>Sigue nuestros tips y recetas en redes sociales</p>
      </div>
      <div class="p-2 mx-2 my-4 text-left address ">
        <p> Estamos ubicados en pasillo 2, Locales 166 y 168 central de abastos CDMX</p>
    </div>
  </article>
  <article class="d-none d-lg-block">
    <div id="carousel">
      <a id="one"></a>
      <a id="two"></a>
      <a id="three"></a>
      <a id="four"></a>
      <a id="five"></a>
      <a id="six"></a>
      <div id="container">
        <div id="inner">
          <img src="../../../assets/img/carne1.png" alt="one">
          <img src="../../../assets/img/carne2.png" alt="two">
          <img src="../../../assets/img/carne3.png" alt="three">
          <img src="../../../assets/img/carne4.png" alt="four">
          <img src="../../../assets/img/carne5.png" alt="five">
          <img src="../../../assets/img/pollo1.png" alt="six">
        </div>  
      </div>
      <ul id="index">
        <li><a href="#one"><img src="../../../assets/img/carne1.png" alt="one"></a></li>
        <li><a href="#two"><img src="../../../assets/img/carne2.png" alt="two"></a></li>
        <li><a href="#three"><img src="../../../assets/img/carne3.png" alt="three"></a></li>
        <li><a href="#four"><img src="../../../assets/img/carne4.png" alt="four"></a></li>
        <li><a href="#five"><img src="../../../assets/img/carne5.png" alt="five"></a></li>
        <li><a href="#six"><img src="../../../assets/img/pollo1.png" alt="six"></a></li>
      </ul>
    </div>
  </article>
  <article class="d-block d-lg-none">
    <carousel>
      <slide>
        <img src="../../../assets/img/carne1.png" alt="carne 1 slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
      <slide>
        <img src="../../../assets/img/carne2.png" alt="carne 2 slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
      <slide>
        <img src="../../../assets/img/carne3.png" alt="carne 3 slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
      <slide>
        <img src="../../../assets/img/carne4.png" alt="carne 4 slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
      <slide>
        <img src="../../../assets/img/carne5.png" alt="carne 5 slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
      <slide>
        <img src="../../../assets/img/pollo1.png" alt="pollo slide" style="display: block; width: 100%;"
          class="carouselImg">
      </slide>
    </carousel>
  </article>
</section>
