<section class="d-flex">
  <section class="float-recetary-icons">
      <img (click)="toggleShowCow()" [src]=" carnes[0].url" alt="icono carne de {{carnes[0].nombre}}">
    
    <img (click)="toggleShowChicken()" [src]=" carnes[1].url" alt="icono carne de {{carnes[1].nombre}}">
    <img (click)="toggleShowPig()" [src]=" carnes[2].url" alt="icono carne de {{carnes[2].nombre}}">
    <img (click)="toggleShowFish()" [src]=" carnes[3].url" alt="icono carne de {{carnes[3].nombre}}">
  </section>
  <section class="d-flex flex-column align-items-center">
    <video autoplay loop [muted]=true style="width: 100%;" src="../../../assets/videos/recetario.mp4"></video>
    <img src="../../../assets/img/receta.png" alt="receta header" class="img-header-recetary my-3">

    <!-- ------------------------- RES ---------- -->

    <section *ngIf="isShownCow">
      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Picadillo de carne molida</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="py-5 d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>1 libra carne de res (puede ser mitad res y mitad cerdo)</li>
                  <li>1 cebolla mediana en cuadritos</li>
                  <li>5 tomates para la salsa</li>
                  <li>2 dientes ajo</li>
                  <li>1 trocito cebolla para la salsa</li>
                  <li>2 dientes ajo triturados</li>
                  <li>1 taza agua o caldo</li>
                  <li>1 zanahoria grande picada en cubitos pequeños</li>
                  <li>1 papa picada en cubitos</li>
                  <li>1 calabasita el cubitos</li>
                  <li>1/2 taza chícharos</li>
                  <li>1/4 de cucharadita de comino en polvo opcional )</li>
                  <li>1/2 cucharadita orégano deshidratado</li>
                  <li>Tostadas para acompañar</li>
                  <li>Sal y pimienta</li>
                </ul>
              </div>
              <img src="../../../assets/img/picadillo-res-receta-mixta.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">En una cacerola mediana fríe la carne hasta que cambie de color
                  ysuelte su grasa y escurre el exceso, reservar, enseguida pica finamente la cebolla, ajo y agregar a
                  la carne, sofrie, hasta que la cebolla se vuelva transparente enseguida coloca en el vaso de la
                  licuadora los tomates, los ajos y la sal, el agua y licúa bien..</p>
                <p style="font-size: 2em; color: black;"> Verter la mezcla a un colador colocado directamente sobre la
                  cacerola, de manera que la salsa colada caiga sobre la carne y dejar hasta que se integre la salsa con
                  la carne</p>
                <p style="font-size: 2em; color: black;"> Pela la zanahoria, papa y córtalos en cuadritos chicos añade a
                  la carne las verduras picadas, el comino y el orégano</p>
                <p style="font-size: 2em; color: black;">Cuécelo a fuego medio de 10 a 15 minutos, pasado el tiempo
                  añade al final la calabaza picada en cubos y los chícharos dejar cocer hasta que la verdura esté suave
                  y se haya evaporado un poco el jugo o a tu gusto,
                </p>
                <p style="font-size: 2em; color: black;">Una vez listo sirve caliente sobre tostadas o con la guarnición
                  de tu preferencia queda muy rica, espero les sea de ayudaSe puede acompañar también con rajas de
                  chile, zanahorias en escabeche ola salsa picante. De su preferencia</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Alambre de Res</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>1/2 kg de carne de res</li>
                  <li>200 g tocino picado</li>
                  <li>1 cebolla rebanada</li>
                  <li>1 pimiento rojo sin semillas y cortado en cuadros</li>
                  <li>1 pimiento amarillo sin semillas y cortado en cuadros</li>
                  <li>Sal y pimiento al gusto</li>
                  <li>Aceite vegetal</li>
                </ul>
              </div>
              <img src="../../../assets/img/pescado-salsa-roja.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">En una cacerola fríe el tocino con la cebolla y los pimientos
                  hasta que la cebolla esté acitronada y el pimiento comience a estar suave.
                </p>
                <p style="font-size: 2em; color: black;">Agrega la carne, sazona con sal y pimienta, revuelve para
                  integrar y cocina a fuego bajo hasta que esté cocida; retira y sirve con tortillas.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
    <!-- ---------- CERDO ------------- -->

    <!-- ---------------- POLLO ------------- -->
    <section *ngIf="isShownChicken">
      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Pechugas en Salsa Poblana</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>6 a 8 mitades de pechuga de pollo deshuesadas <br> y sin pellejo, cocidas y todavía calientes</li>
                  <li>2 chiles poblanos grandes, asados, pelados y sin venas</li>
                  <li>1 lata (12 fl. oz.) de leche evaporada <br> NESTLÉ CARNATION Evaporated Milk</li>
                  <li>1 diente de ajo finamente picado</li>
                  <li>1 cucharadita de MAGGI Caldo Sabor a Pollo Granulado</li>
                  <li>1 cucharada de mantequilla o margarina</li>
                  <li>2 cucharaditas de harina para todo uso</li>
                </ul>
              </div>
              <img src="../../../assets/img/Rollos de pollo_en poblano.png" alt="imagen rollo poblano"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Coloca la leche evaporada, los chiles, el ajo y el caldo en la
                  licuadora;pon la tapa. Lícualos hasta obtener la consistencia deseada (salsa homogénea o con
                  trocitos).</p>
                <p style="font-size: 2em; color: black;"> Derrite la mantequilla en una cacerola mediana a fuego medio.
                  Incorpora la harina, revolviéndola constantemente hasta obtener una consistencia homogénea. Agrega
                  poco a poco la mezcla de poblanos. Cocina esta mezcla a fuego medio, revolviéndola constantemente,
                  justo hasta que empiece a hervir y se ponga espesa. Rinde aproximadamente 2 tazas</p>
                <p style="font-size: 2em; color: black;"> coloca las pechugas de pollo cocidas en platos individuales o
                  en un platón para servir. Usa una cuchara y vierte un poco de la salsa sobrecada una de ellas. Vierte
                  el resto de la salsa en un tazón o en una jarra pequeña de modo de que los invitados puedan servirse.
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Tostadas de jícama
              con tinga de pollo</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>• 200 g de cebolla </li>
                  <li>• 15 g de aceite vegetal </li>
                  <li>• 500 g de jitomate, cortado en cuartos </li>
                  <li>• 1 diente de ajo </li>
                  <li>• 3 ½ cditas de chile chipotle en polvo</li>
                  <li>• ½ cdita de sal fina </li>
                  <li>• 500 g de pechuga de pollo deshuesada y sin piel </li>
                  <li>• 2 hojas de laurel, secas </li>
                  <li>• 2 jícamas, pequeñas </li>
                  <li>• yogur natural sin azúcar, para servir </li>
                  <li>• hojas de cilantro, frescas, para decorar</li>
                </ul>
              </div>
              <img src="../../../assets/img/tostada-jicama.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Coloca las pechugas de pollo en una olla pequeña, cubre con
                  agua
                  y agrega sal. Deja que hiervan a fuego alto, reduce el fuego a bajo y cocina hasta que se hayan
                  cocido,
                  aproximadamente 20 a 25 minutos (depende del tamaño). Deja enfriar un poco y deshebra.
                </p>
                <p style="font-size: 2em; color: black;">Licua los tomates, el chipotle, sal, pimenta y agua o caldo.
                </p>
                <p style="font-size: 2em; color: black;">Cocina la cebolla en un poco de aceite por unos 3 a 4 minutos o
                  hasta que se suavice.</p>
                <p style="font-size: 2em; color: black;">Agrega la mezcla de la licuadora, la hoja de laurel y cocina 3
                  minutos.</p>
                <p style="font-size: 2em; color: black;">Agrega el pollo deshebrado, sazona al gusto con sal y pimienta
                  y
                  mezcla bien.</p>
                <p style="font-size: 2em; color: black;">Cocina 5 a 8 minutos más.</p>
                <p style="font-size: 2em; color: black;">Pele las jícamas y córtelas en rebanadas de 5 mm de grosor para
                  utilizar como tostadas. Reserve en agua.</p>
                <p style="font-size: 2em; color: black;">Retire las hojas de laurel y deshebre el pollo.</p>
                <p style="font-size: 2em; color: black;">Sirva la tinga de pollo sobre las tostadas de jícama y acompañe
                  con yogur natural sin azúcar o crema y cilantro fresco.</p>
              </div>
            </div>
          </div>
        </div>
      </article>


      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Ensalada Cesar con pollo</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>200 g Lechuga romana</li>
                  <li>Salsa César (ingredientes y preparación detallada abajo)</li>
                  <li>Picastostes de pan (pan tostado en cubitos)</li>
                  <li>40 g Queso parmesano</li>
                  <li>1/2 pechuga de pollo</li>
                  <li>Sal</li>
                  <li>Pimienta negra</li>
                </ul>
              </div>
              <img src="../../../assets/img/receta-cesar1.jpg" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Prepara una crema con el aguacate, la sal, pimienta y el aceite
                  de oliva. Una de las tapas de la chapata
                  con esta preparación. En la otra unta mayonesa.
                </p>
                <p style="font-size: 2em; color: black;">En el pan, incorpora los ingredientes restantes en rebanadas,
                  tapa y hornea para gratinar el queso.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>

    <!-- ----------- PESCADO ------------k -->

    <section *ngIf="isShownFish">

      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Pescado con perejil y
              mantequilla
              al horno</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>2 trozos de pescado de 400 gramos aproximadamente</li>
                  <li>50 gramos de poro picado</li>
                  <li>40 gramos de apio picado</li>
                  <li>1 zanahoria picada</li>
                  <li>3 cucharadas de mantequilla</li>
                  <li>2 cucharadas de perejil picado</li>
                  <li>4 cucharadas de aceite de oliva</li>
                  <li>Sal y pimienta</li>
                  <li>Papel aluminio o encerado</li>
                </ul>
              </div>
              <img src="../../../assets/img/pescado con mantequilla y limon2.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Vacía 2 cucharadas de aceite sobre el papel aluminio o
                  encerado.
                </p>
                <p style="font-size: 2em; color: black;"> Coloca encima los trozos de pescado y rocíales un poco de
                  aceite. Espolvorea sal y pimienta.</p>
                <p style="font-size: 2em; color: black;"> Mezcla el poro, el apio y las zanahorias picadas. Rocía con la
                  mantequilla derretida y un poco más de sal. Cubre con papel aluminio o encerado y hornea por ½ hora a
                  180° centígrados.</p>
              </div>
            </div>
          </div>
        </div>
      </article>


      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Pescado en Salsa roja</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>1 kilo de filetes de lenguado o del pescado que desee</li>
                  <li>Sal, Pimienta, Harina, Aceite</li>
                  <li>¼ de kilo de cebolla picada en rodajas</li>
                  <li>¼ de cucharadita de comino</li>
                  <li>½ cucharadita de ajo molido</li>
                  <li>1 cucharada de ají amarillo molido</li>
                  <li>1 copa de vino blanco seco</li>
                  <li>¼ taza de vinagre tinto</li>
                  <li>340 gramos de salsa roja</li>
                  <li>1 pimiento picado en tiras gruesas</li>
                  <li>1 cucharada de culantro picado</li>
                  <li>1 cucharada de perejil picado</li>
                </ul>
              </div>
              <img src="../../../assets/img/pescado-en-salsa-roja.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">En un recipiente sazona los filetes de pescado con sal y
                  pimienta. Luego lo enharinas y lo fríes en abundante aceite. Resérvalo.</p>
                <p style="font-size: 2em; color: black;"> Después en una sartén aparte, dora la cebolla en dos
                  cucharadas
                  de aceite. Agrégale comino, vinagre, el ají, los ajos molidos y la salsa roja.</p>
                <p style="font-size: 2em; color: black;"> Mezcla la cebolla con el pescado</p>
                <p style="font-size: 2em; color: black;">Sazónalo y deja que hierva hasta que las cebollas estén cocidas
                  pero no deshechas. Incorpórale el pimiento y cocínalo unos 10 minutos más.</p>
                <p style="font-size: 2em; color: black;">Acomoda los filetes de pescados en una fuente, cúbrelos con la
                  salsa.Esparce el perejil y el culantro.</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Pescado al limón con perejil
            </h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>4 filetes de róbalo sin piel</li>
                  <li>½ cucharada de sal</li>
                  <li>¼ cucharadita de pimienta </li>
                  <li>½ taza de jugo de limón</li>
                  <li>24 cucharadas de aceite vegetal</li>
                  <li>1 cucharada de mantequilla</li>
                  <li>¼ taza de alcaparras½ manojo de perejil finamente picado </li>
                </ul>
              </div>
              <img src="../../../assets/img/Pescado al limón con perejil.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Condimenta los pescados por ambos lados con sal y pimienta.</p>
                <p style="font-size: 2em; color: black;"> Cocina los pescados con aceite y mantequilla. Voltéalos hasta
                  que estén ligeramente dorados.</p>
                <p style="font-size: 2em; color: black;"> Agrega el jugo de limón y las alcaparras. Cocina por 5 minutos
                  más.</p>
                <p style="font-size: 2em; color: black;">Retira del fuego y espolvorea el perejil encima antes de
                  servir.
                  5 Deja reposar de 3 a 5 minutos.</p>
              </div>
            </div>
          </div>
        </div>
      </article>


      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Ceviche de Tilapia</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="py-5 d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>1 1/2lbs de tilapia, cortada en láminas</li>
                  <li>1 cebolla roja cortada en juliana fina</li>
                  <li>1 cucharada de ají amarillo en pasta</li>
                  <li>Jugo de 10 limones</li>
                  <li>2 dientes de ajo bien picaditos</li>
                  <li>1 cucharadita de jengibre rallado fino</li>
                  <li>Sal, al gusto</li>
                  <li>2 Cucharadas de cilantro picado</li>
                  <li>Hojas de lechuga</li>
                  <li>1 aguacate cortado en laminitas</li>
                  <li>1 rodaja de ají amarillo (para decorar)</li>
                  <li>Hojas de cilantro (para decorar)</li>
                </ul>
                <h3 style="font-size: 2em;">Guarnición</h3>
                <ul style="font-size: 2em;">
                  <li>Tortillas de maíz (pequeñitas)</li>
                  <li>Cebolla finamente picada</li>
                  <li>Cilantro finamente picado</li>
                  <li>½ taza de piña cortada finamente</li>
                  <li>Salsa taquera y guacamole al gusto</li>
                  <li>Limones</li>
                </ul>
              </div>
              <img src="../../../assets/img/cebiche.png" alt="imagen tacos pescado" class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">Lava el pescado y ponlo en un tazón
                </p>
                <p style="font-size: 2em; color: black;"> Remoja la cebolla en agua helada por 5 minutos. Escurre bien.
                </p>
                <p style="font-size: 2em; color: black;">Mezcla la cebolla con el pescado.</p>
                <p style="font-size: 2em; color: black;">En otro tazón, combina ají amarillo en pasta, el jugo de limón,
                  ajo, jengibre y sal. Revuelve bien y agrega unos cubitos de hielo o una cucharada de agua helada.
                  Vierte
                  esto sobre el pescado.</p>
                <p style="font-size: 2em; color: black;"> Deja reposar de 3 a 5 minutos</p>
                <p style="font-size: 2em; color: black;">Sirve en platos o copas, decora cada una con una hoja de
                  lechuga,
                  laminitas de aguacate, una rodajita de ají amarillo y hojas de cilantro.</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="d-flex flex-column align-items-center mb-5">
          <div class="content-recetary">
            <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center">Tacos de pescado al
              pastor</h2>
            <div class="d-flex justify-content-center flex-column-reverse flex-lg-row" style="width: 100%;">
              <div class="d-flex flex-column justify-content-center align-items-center px-5 mr-0 mr-lg-4"
                style=" background-color: #F4F4F4;">
                <div class="d-flex mb-3">
                  <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
                </div>
                <ul style="font-size: 2em;">
                  <li>5 chiles guajillos (deberán estar desvenados y sin semillas)</li>
                  <li>4 chiles de árbol (deberán estar desvenados y sin semillas)</li>
                  <li>¼ cebolla blanca</li>
                  <li>4 filetes de pescado blanco sin piel y sin espinas</li>
                  <li>2 cucharaditas de sal</li>
                  <li>1 cucharadita de pimienta</li>
                  <li>1 taza de jugo de naranja</li>
                  <li>4 cucharadas de pasta de achiote</li>
                  <li>2 cucharadas de vinagre de manzana</li>
                  <li>2 dientes de ajo</li>
                </ul>
                <h3 style="font-size: 2em;">Guarnición</h3>
                <ul style="font-size: 2em;">
                  <li>Tortillas de maíz (pequeñitas)</li>
                  <li>Cebolla finamente picada</li>
                  <li>Cilantro finamente picado</li>
                  <li>½ taza de piña cortada finamente</li>
                  <li>Salsa taquera y guacamole al gusto</li>
                  <li>Limones</li>
                </ul>
              </div>
              <img src="../../../assets/img/tacos-pescado.png" alt="imagen tacos pescado"
                class="recetary-image mb-4 mb-lg-0">
            </div>
            <div class="d-flex justify-content-center mt-5">
              <div class="d-flex flex-column justify-content-center px-5 steps">
                <div class="d-flex justify-content-center mb-3">
                  <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px; height: 41px;">
                  <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
                </div>
                <p style="font-size: 2em; color: black;">En una cacerola con agua hirviendo agrega los chiles guajillos
                  y
                  de árbol, deja hervir por 20 minutos.
                </p>
                <p style="font-size: 2em; color: black;">Para la marinada: en el vaso de la licuadora agrega los chiles
                  ya
                  blandos, la cebolla, los dientes de ajo, el achiote, jugo de naranja y el vinagre de manzana. Licúa
                  perfectamente hasta tener una pasta espesa.</p>
                <p style="font-size: 2em; color: black;">Cuela la salsa y agrega en un contenedor.</p>
                <p style="font-size: 2em; color: black;">Sazona los filetes de pescado por ambos lados con sal y
                  pimienta.
                  Acomódalos en un refractario y vierte la salsa para marinar cubriendo muy bien cada filete.</p>
                <p style="font-size: 2em; color: black;"> Refrigera por 2-3 horas.</p>
                <p style="font-size: 2em; color: black;">En un sartén a fuego medio agrega aceite de oliva extra virgen
                  y
                  agrega los filetes de pescado, cocina por 7 minutos de cada lado hasta que estén doraditos.</p>
                <p style="font-size: 2em; color: black;">Una vez cocinados los filetes, pícalos en cubitos medianos y
                  reserva.</p>
                <p style="font-size: 2em; color: black;">Calienta levemente las tortillas y rellena con la carne al
                  pastor.</p>
                <p style="font-size: 2em; color: black;">Sirve en un platón y acompaña con cebolla finamente picada,
                  cilantro, piña, un toque de limón y tu salsa favorita.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>


  </section>
</section>