<section class="d-flex">
  <article class="recetary-container">
    <video autoplay loop [muted]=true style="width: 100%;" src="../../../assets/videos/recetario.mp4"></video>
    <div class="d-flex flex-column align-items-center mb-5">
      <img src="../../../assets/img/receta.png" alt="receta header" class="img-header-recetary">
      <div class="content-recetary">
        <h2 style="font-size: 3em; margin: 1em 0; color: black;" class="text-center text-lg-left">Ensalada Cesar <br> con pollo</h2>
        <div class="d-flex flex-column-reverse flex-lg-row" style="width: 100%;">
          <img src="../../../assets/img/receta-cesar1.jpg" alt="imagen ensalada cesar" class="recetary-image mb-4 mb-lg-0">
          <div class="d-flex flex-column justify-content-center align-items-center px-5">
            <div class="d-flex mb-3">
              <img src="../../../assets/img/ingredientes.png" alt="ingredientes icono" style="width:30px;">
              <h3  style="font-size: 3em; padding:0 5px;">Ingredientes</h3>
            </div>
            <ul style="font-size: 2em;">
              <li>200 g Lechuga romana</li>
              <li>Salsa César (ingredientes y preparación detallada abajo)</li>
              <li>Picastostes de pan (pan tostado en cubitos)</li>
              <li>40 g Queso parmesano</li>
              <li>1/2 pechuga de pollo</li>
              <li>Sal</li>
              <li>Pimienta negra</li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-column flex-lg-row">
          <div class="d-flex flex-column justify-content-center px-5">
            <div class="d-flex justify-content-center mb-3">
              <img src="../../../assets/img/preparacion.png" alt="preparacion icono" style="width:40px;">
              <h3 style="font-size: 3em; padding:0 5px;">Preparacion</h3>
            </div>
            <p style="font-size: 2em; color: black;">Prepara una crema con el aguacate, la sal, pimienta y el aceite de oliva. Una de las tapas de la chapata
              con esta preparación. En la otra unta mayonesa.
            </p>
            <p style="font-size: 2em; color: black;">En el pan, incorpora los ingredientes restantes en rebanadas, tapa y hornea para gratinar el queso.</p>
          </div>
          <img src="../../../assets/img/receta-cesar2.jpg" alt="imagen ensalada cesar"  class="recetary-image">
        </div>
      </div>
    </div>
  </article>
  <app-offer style="width: 20%;"></app-offer>
</section>
