<section class="d-lg-flex justify-content-lg-between">
  <section class="recetaryMain desktopWidth">
    <h2 class="text-center">Recetario</h2>
    <p class="px-4 text-lg-center">Aprende a cocinar las mejores recetas de comida fáciles, recetas de comida mexicana,
      recetas de comida saludable de forma rápida y sencilla.</p>
    <article class="recetary container">
      <div class="row  justify-content-lg-center">
        <div class="col-12 col-lg-5">
          <iframe class="mb-lg-4" width="560" height="315" src="https://www.youtube.com/embed/yQeljbldmpU?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <img class="mb-lg-4" src="../../../assets/img/recetaChapata.png" alt="Receta Chapata">
        </div>
        <hr>
        <div class="col-12 col-lg-5">
          <iframe class="mb-lg-4" width="560" height="315" src="https://www.youtube.com/embed/yQeljbldmpU?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <img class="mb-lg-4" src="../../../assets/img/recetaEnsalada.png" alt="Receta ensalada cesar">
        </div>
        <hr>
        <div class="col-12 col-lg-5">
          <iframe class="mb-lg-4" width="560" height="315" src="https://www.youtube.com/embed/yQeljbldmpU?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <img class="mb-lg-4" src="../../../assets/img/recetaTiras.png" alt="Receta tiras de carne">
        </div>
        <div class="col-12 col-lg-5">
          <iframe class="mb-lg-4" width="560" height="315" src="https://www.youtube.com/embed/yQeljbldmpU?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <img class="mb-lg-4" src="../../../assets/img/recetaTiras.png" alt="Receta tiras de carne">
        </div>
      </div>
    </article>
  </section>
  <article class="d-none d-lg-block">
    <div class="fixed-app-container">
      <article>
        <div class="offers mt-3 mt-lg-0 d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-center">
          <p class="text-center">Ofertas</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yQeljbldmpU?controls=0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class=" p-4 text-center text-lg-left quality">
          <p>cortes <br class="d-none d-lg-block"> de la mas <br class="d-none d-lg-block"> alta calidad <br
              class="d-none d-lg-block"> a unos pasos <br class="d-none d-lg-block"> de tu mesa</p>
          <hr class="d-none d-lg-block">
        </div>
      </article>
    </div>
  </article>
</section>